<table class="table">
	<thead>
		<tr>
			<td>Variants</td>
			<td>Outline buttons</td>
			<td>Sizes</td>
			<td>Disabled state</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p *ngFor="let item of variants">
					<bng-button [variant]="item">{{ item }}</bng-button>
				</p>
			</td>
			<td>
				<p *ngFor="let item of variants">
					<bng-button [variant]="item" [outline]="true">{{ item }}</bng-button>
				</p>
			</td>
			<td style="vertical-align: top">
				<p>
					<bng-button [variant]="variant" size="lg" (click)="onClick()">button</bng-button>
				</p>
				<p>
					<bng-button>button</bng-button>
				</p>
				<p>
					<bng-button size="sm">button</bng-button>
				</p>
			</td>
			<td style="vertical-align: top">
				<p>
					<bng-button [disabled]="true">button</bng-button>
				</p>
			</td>
		</tr>
	</tbody>
</table>
